<p id="notice"><%= notice %></p>

<h1>Javaques</h1>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Input</th>
      <th>Output</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @javaques.each do |javaque| %>
      <tr>
        <td><%= javaque.heading %></td>
        <td><%= javaque.question %></td>
        <td><%= javaque.answer %></td>
        <td><%= javaque.input %></td>
        <td><%= javaque.output %></td>
        <td><%= javaque.point %></td>
        <td><%= link_to 'Show', javaque %></td>
        <td><%= link_to 'Edit', edit_javaque_path(javaque) %></td>
        <td><%= link_to 'Destroy', javaque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Javaque', new_javaque_path %>
