<p id="notice"><%= notice %></p>

<h1>Java Jps</h1>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Ques</th>
      <th>Ans</th>
      <th>Input</th>
      <th>Output</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @java_jps.each do |java_jp| %>
      <tr>
        <td><%= java_jp.heading %></td>
        <td><%= java_jp.ques %></td>
        <td><%= java_jp.ans %></td>
        <td><%= java_jp.input %></td>
        <td><%= java_jp.output %></td>
        <td><%= java_jp.point %></td>
        <td><%= link_to 'Show', java_jp %></td>
        <td><%= link_to 'Edit', edit_java_jp_path(java_jp) %></td>
        <td><%= link_to 'Destroy', java_jp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Java Jp', new_java_jp_path %>
