<p id="notice"><%= notice %></p>
<div class="container">

<%= link_to 'Edit', edit_java_jp_path(@java_jp), class: "btn btn-outline-warning" %> |
<%= link_to 'Back', java_jps_path, class: "btn btn-outline-success" %>
<br>
<br>

<hr>
<p>
  <strong>Heading:</strong>
  <%= @java_jp.heading %>
</p>

<p>
  <strong>Ques:</strong>
  <%= @java_jp.ques %>
</p>

<p>
  <strong>Ans:</strong>
  <pre class="pre-scrollable"><code><%= @java_jp.ans %></code></pre>
</p>

<p>
  <strong>Input:</strong>
  <pre class="pre-scrollable"><code>
  <%= @java_jp.input %>
</code></pre>
</p>

<p>
  <strong>Output:</strong><pre class="pre-scrollable"><code>
  <%= @java_jp.output %></code></pre>
</p>

<p>
  <strong>Point:</strong>
  <%= @java_jp.point %>
</p>
</div>

<br>
<br>