<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @java_jp.heading %>
</p>

<p>
  <strong>Ques:</strong>
  <%= @java_jp.ques %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @java_jp.ans %>
</p>

<p>
  <strong>Input:</strong>
  <%= @java_jp.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @java_jp.output %>
</p>

<p>
  <strong>Point:</strong>
  <%= @java_jp.point %>
</p>

<%= link_to 'Edit', edit_java_jp_path(@java_jp) %> |
<%= link_to 'Back', java_jps_path %>
