<p id="notice"><%= notice %></p>

<p>
  <strong>Question Number:</strong>
  <%= @jp.id %>
</p>

<p>
  <strong>Ques:</strong>
  <%= @jp.ques %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @jp.ans %>
</p>

<p>
  <strong>Point:</strong>
  <%= @jp.point %>
</p>


<p>
  <strong>Sample Input:</strong>
  <%= @jp.input %>
</p>

<p>
  <strong>Sample Output:</strong>
  <%= @jp.output %>
</p>

<%= link_to 'Edit', edit_jp_path(@jp) %> |
<%= link_to 'Back', jps_path %>

