<p id="notice"><%= notice %></p>

<h1>Rbs</h1>


    <% @rbs.each do |rb| %>
     
   <select>
       <optgroup>
                <option> 
                <%= rb.mb %> 
                
                </option>
       </optgroup>
        
   </select>
    <% end %>

  <% @rbs.each do |rb| %>
     
   <select>
       <optgroup>
                <option > 
                <%= rb.ms %> 
                
                </option>
       </optgroup>
        
  </select>
    <% end %>

    
    
    <br>
    <br>
    <hr>


  <table>
  <thead>
    <tr>
      <th>Mb</th>
      <th>Ms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>  
    
    <% @rbs.each do |rb| %>
      <tr>
        <td><%= rb.mb %></td>
        <td><%= rb.ms %></td>
        <td><%= link_to 'Show', rb %></td>
        <td><%= link_to 'Edit', edit_rb_path(rb) %></td>
        <td><%= link_to 'Destroy', rb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rb', new_rb_path %>
