<p id="notice"><%= notice %></p>

<p>
  <strong>Mb:</strong>
  <%= @rb.mb %>
</p>

<p>
  <strong>Ms:</strong>
  <%= @rb.ms %>
</p>

<%= link_to 'Edit', edit_rb_path(@rb) %> |
<%= link_to 'Back', rbs_path %>
