   <hr>
   <div class="card text-center container">
  <div class="card-header bg-success">
    <h1>Language</h1>
  </div>
  <div class="card-body">
    <h2 class="card-title ">Java</h2>
    <p class="card-text "><h3>Java is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible.</h3></p>
    <%= link_to "Read", java_read_path,class: "btn btn-warning"%>
        <%= link_to "Practice", java_practice_path,class: "btn btn-warning"%>
       <%= link_to "Challenge", java_challenge_path,class: "btn btn-warning"%>
<%= link_to "Progress", java_progress_path,class: "btn btn-warning"%>
  </div>

<hr>
<div class="card-body">
    <h2 class="card-title ">Python</h2>
    <p class="card-text "><h3>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</h3></p>
   <%= link_to "Read", java_read_path,class: "btn btn-warning"%>
        <%= link_to "Practice", java_practice_path,class: "btn btn-warning"%>
       <%= link_to "Challenge", java_challenge_path,class: "btn btn-warning"%>  
<%= link_to "Progress", java_progress_path,class: "btn btn-warning"%>

  </div>



</div>
