<p id="notice"><%= notice %></p>

<p>
  <strong>Ques:</strong>
  <%= @jl.ques %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @jl.ans %>
</p>

<p>
  <strong>Point:</strong>
  <%= @jl.point %>
</p>

<p>
  <strong>Input:</strong>
  <%= @jl.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @jl.output %>
</p>

<%= link_to 'Edit', edit_jl_path(@jl) %> |
<%= link_to 'Back', jls_path %>
