<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @java_jprogress.heading %>
</p>

<p>
  <strong>Ques:</strong>
  <%= @java_jprogress.ques %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @java_jprogress.ans %>
</p>

<p>
  <strong>Point:</strong>
  <%= @java_jprogress.point %>
</p>

<%= link_to 'Edit', edit_java_jprogress_path(@java_jprogress) %> |
<%= link_to 'Back', java_jprogresses_path %>
